* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: mediumaquamarine;
    
}

:root{
    --color1: aliceblue;
    --color2: darkslategray;
}
/* Title, Instructions, Highscore*/
header{
    display: inline;
    text-align:center;
    margin: 0 auto;
    color: var(--color1);
    font-size: 28px;
}

.directions{
    color: var(--color2);
}